#footer
	#footer-container.container
		a#footer-logo(href="/") DC Roasters
		ul
			li
				a(href="#") Blog
			li
				a(href="#") Contact
			li
				a(href="#") Suppliers
		#copywrite
			p &copy;2015 DC Coffee Roasters
			ul
				li
					a(href="#") Terms
				li
					a(href="#") Privacy
		#attributions
			p Creative Commons images courtesy of:
			ul
				li
					a(href="https://flic.kr/p/egJ7Bh") David Pacey
				li
					a(href="https://flic.kr/p/2GVL5f") Dave Bleasdale
				li
					a(href="https://flic.kr/p/ksMNUr") Dennis Tang
				li
					a(href="https://flic.kr/p/nfKZAo") mahmoud99725
