extends layout

block content
    .container
        .page-wrapper
            .header
                img(src='images/dc_roasters_200x124_lt.png')
            .col-sm-12
                h1 Login Page
                p.lead Please enter your username and password below.
                br

                form#login-form(role='form', action='/login', method='post')
                    .form-group.col-sm-7
                        input.form-control(type='text', name='username', placeholder='Enter Your Username')
                    .form-group.col-sm-7
                        input.form-control(type='password', name='password', placeholder='Enter Your Password') 
                .row.col-sm-12.btn-group  
                    button.btn.btn-primary(type='submit') Submit
                    a(href='/') Cancel
        .footer.col-sm-12       