/* line 1, ../../assets/compass/sass/style.scss */
body {
  background-color: red;
}

/* line 1, ../../assets/compass/sass/views/_home.scss */
body {
  background-color: green;
}

/* line 1, ../../assets/compass/sass/views/_subscribe.scss */
body {
  background-color: purple;
}
