/* line 1, ../../assets/compass/sass/views/_logout.scss */
body {
  height: 300px;
}

/* line 6, ../../assets/compass/sass/views/_home.scss */
h2.how-it-works_label {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 2px;
  color: #294741;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* line 16, ../../assets/compass/sass/views/_home.scss */
.how-it-works {
  background: #fff;
  position: relative;
  border-top: 1px solid #d8d3c8;
  margin-bottom: 90px;
}
/* line 22, ../../assets/compass/sass/views/_home.scss */
.how-it-works:after {
  content: '';
  display: block;
  border-top: 45px solid #edebe6;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: -1px;
  left: 50%;
  margin-left: -30px;
}
/* line 36, ../../assets/compass/sass/views/_home.scss */
.how-it-works:before {
  content: '';
  display: block;
  border-top: 45px solid #d8d3c8;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -30px;
}

/* line 52, ../../assets/compass/sass/views/_home.scss */
.how-it-works_inner {
  position: relative;
  padding: 90px 60px 60px;
}
/* line 56, ../../assets/compass/sass/views/_home.scss */
.how-it-works_inner .works-text {
  width: 50%;
  float: left;
}
/* line 61, ../../assets/compass/sass/views/_home.scss */
.how-it-works_inner h3 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 30px;
}
/* line 67, ../../assets/compass/sass/views/_home.scss */
.how-it-works_inner p {
  font-size: 18px;
  margin-left: 60px;
}
/* line 72, ../../assets/compass/sass/views/_home.scss */
.how-it-works_inner .works-image {
  float: left;
  border: 15px solid #fff;
  width: 45%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}
/* line 79, ../../assets/compass/sass/views/_home.scss */
.how-it-works_inner .works-image img {
  display: block;
  max-width: 100%;
  border: 1px solid #a08855;
}

/* line 87, ../../assets/compass/sass/views/_home.scss */
.how-it-works-one {
  background: url(/images/CoffeeBags.jpg) center bottom no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}
/* line 94, ../../assets/compass/sass/views/_home.scss */
.how-it-works-one:before {
  content: '';
  display: block;
  height: 46px;
  width: 62px;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -31px;
  z-index: 1;
  background: url(/images/CoffeeBags_corner.png) center top no-repeat;
}

/* line 108, ../../assets/compass/sass/views/_home.scss */
.how-it-works-two {
  background: url(/images/canvas.jpg) center bottom repeat;
  position: relative;
}
/* line 112, ../../assets/compass/sass/views/_home.scss */
.how-it-works-two .works-text {
  float: right;
}
/* line 116, ../../assets/compass/sass/views/_home.scss */
.how-it-works-two:before {
  content: '';
  display: block;
  height: 46px;
  width: 62px;
  position: absolute;
  top: 100%;
  margin-top: -1px;
  left: 50%;
  margin-left: -31px;
  z-index: 1;
  background: url('../../assets/public/images/images/canvas_corner.png') center top no-repeat;
}

/* line 131, ../../assets/compass/sass/views/_home.scss */
.how-it-works-three {
  background: url(/images/cupSteam.jpg) right bottom no-repeat #000;
  background-size: contain;
  position: relative;
  color: #fff;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}
/* line 138, ../../assets/compass/sass/views/_home.scss */
.how-it-works-three:after {
  content: '';
  display: block;
  border-top: 45px solid #000;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -30px;
  margin-top: -1px;
}
/* line 153, ../../assets/compass/sass/views/_home.scss */
.how-it-works-three:before {
  content: '';
  display: block;
  border-top: 45px solid #d8d3c8;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -30px;
}

/* line 170, ../../assets/compass/sass/views/_home.scss */
.head-box {
  background-color: #fff;
  padding: 30px;
  margin: 30px auto 30px;
  max-width: 800px;
  border: 1px solid #d8d3c8;
  border-radius: 5px;
}
/* line 178, ../../assets/compass/sass/views/_home.scss */
.head-box h2 {
  margin-top: 0;
  font-weight: 700;
  max-width: 80%;
}

/* line 186, ../../assets/compass/sass/views/_home.scss */
.home-container {
  position: relative;
}

/* line 191, ../../assets/compass/sass/views/_home.scss */
#getStarted {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 30px;
  text-align: center;
  padding: 20px 60px;
  background: #196D46;
  border-radius: 5px;
  color: #fff;
  margin: 0 20px;
  line-height: 1;
}
/* line 203, ../../assets/compass/sass/views/_home.scss */
#getStarted:hover {
  color: #fff;
  background: #16613e;
  text-decoration: none;
}

/* line 211, ../../assets/compass/sass/views/_home.scss */
#login-wrapper {
  background-color: rgba(200, 200, 200, 0.7);
}

@media (max-width: 600px) {
  /* line 217, ../../assets/compass/sass/views/_home.scss */
  .how-it-works_inner {
    padding: 60px 20px;
  }
  /* line 220, ../../assets/compass/sass/views/_home.scss */
  .how-it-works_inner .works-text {
    width: auto;
    float: none;
  }
  /* line 225, ../../assets/compass/sass/views/_home.scss */
  .how-it-works_inner h3 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  /* line 230, ../../assets/compass/sass/views/_home.scss */
  .how-it-works_inner p {
    font-size: 14px;
    margin-left: 0;
  }
  /* line 234, ../../assets/compass/sass/views/_home.scss */
  .how-it-works_inner .works-image {
    float: none;
    width: 85%;
    margin: 0 auto;
  }
}
/* line 5, ../../assets/compass/sass/views/_choices.scss */
#plan-wrapper {
  margin-top: 60px;
}
/* line 7, ../../assets/compass/sass/views/_choices.scss */
#plan-wrapper #choices-header {
  margin: 0 0 8px;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
}
/* line 13, ../../assets/compass/sass/views/_choices.scss */
#plan-wrapper #choices-sub-header {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
}
/* line 20, ../../assets/compass/sass/views/_choices.scss */
#plan-wrapper .choices-image {
  text-align: center;
  max-width: 100%;
}
/* line 24, ../../assets/compass/sass/views/_choices.scss */
#plan-wrapper .choices-block {
  border: 1px solid #d8d3c8;
  border-radius: 5px;
  margin: 30px auto;
  padding: 30px;
}

/* line 5, ../../assets/compass/sass/views/_choices.scss */
#plan-wrapper {
  margin-top: 60px;
}
/* line 7, ../../assets/compass/sass/views/_choices.scss */
#plan-wrapper #choices-header {
  margin: 0 0 8px;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
}
/* line 13, ../../assets/compass/sass/views/_choices.scss */
#plan-wrapper #choices-sub-header {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
}
/* line 20, ../../assets/compass/sass/views/_choices.scss */
#plan-wrapper .choices-image {
  text-align: center;
  max-width: 100%;
}
/* line 24, ../../assets/compass/sass/views/_choices.scss */
#plan-wrapper .choices-block {
  border: 1px solid #d8d3c8;
  border-radius: 5px;
  margin: 30px auto;
  padding: 30px;
}

/* line 6, ../../assets/compass/sass/layout/_layout.scss */
body {
  background-image: url("/images/Coffee-1920x1200.jpg");
  font-family: 'Roboto', sans-serif;
  color: #3a2f27;
  background: #edebe6;
  font-size: 14px;
  padding-top: 85px;
  min-width: 320px;
}

/* line 16, ../../assets/compass/sass/layout/_layout.scss */
.cta-container {
  text-align: center;
  margin: 30px auto;
}
/* line 20, ../../assets/compass/sass/layout/_layout.scss */
.cta-container a {
  display: inline-block;
}

/* line 25, ../../assets/compass/sass/layout/_layout.scss */
.error {
  font-style: italic;
  color: #dc0707;
}

/* line 6, ../../assets/compass/sass/layout/_footer.scss */
#footer {
  font-size: 14px;
  background: #3a2f27;
  clear: both;
  overflow: hidden;
  margin-top: 70px;
  padding: 25px 0;
  border-top: 1px solid #a08855;
}

/* line 16, ../../assets/compass/sass/layout/_footer.scss */
#footer-logo {
  display: block;
  width: 200px;
  height: 0;
  padding-top: 124px;
  overflow: hidden;
  margin: 0 auto;
  background: url(/images/dc_roasters_200x124_lt.png) no-repeat;
}

/* line 26, ../../assets/compass/sass/layout/_footer.scss */
#footer-container {
  color: #fff;
  text-align: center;
}
/* line 30, ../../assets/compass/sass/layout/_footer.scss */
#footer-container p {
  width: 60%;
  margin: 0 auto;
}
/* line 35, ../../assets/compass/sass/layout/_footer.scss */
#footer-container ul {
  width: 60%;
  margin: 0 auto 25px;
  padding: 25px 0;
  border-bottom: 1px solid #58483c;
}
/* line 40, ../../assets/compass/sass/layout/_footer.scss */
#footer-container ul li {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 46, ../../assets/compass/sass/layout/_footer.scss */
#footer-container ul li a {
  font-size: 16px;
  color: #3a2f27;
  text-transform: lowercase;
  display: inline-block;
  padding: 0 10px;
  color: #fff;
}

/* line 59, ../../assets/compass/sass/layout/_footer.scss */
#copywrite ul {
  border: none;
  padding: 0;
}

/* line 66, ../../assets/compass/sass/layout/_footer.scss */
#attributions p {
  color: #776050;
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
}
/* line 72, ../../assets/compass/sass/layout/_footer.scss */
#attributions ul {
  border: none;
  padding-top: 10px;
  padding: 0;
}
/* line 79, ../../assets/compass/sass/layout/_footer.scss */
#attributions ul li a {
  color: #776050;
  font-size: 12px;
}

/* line 7, ../../assets/compass/sass/layout/_header.scss */
#header {
  background: url(/images/CupInBeans.jpg) no-repeat center;
  background-size: cover;
  border-bottom: 1px solid #d8d3c8;
}
/* line 13, ../../assets/compass/sass/layout/_header.scss */
#header.loggedin #header-inner {
  height: 350px;
}
/* line 18, ../../assets/compass/sass/layout/_header.scss */
#header #header-inner {
  position: relative;
  height: 450px;
}
/* line 23, ../../assets/compass/sass/layout/_header.scss */
#header img {
  width: 100%;
}
/* line 27, ../../assets/compass/sass/layout/_header.scss */
#header #header-text-wrapper {
  width: 45%;
  position: absolute;
  bottom: 120px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}
/* line 33, ../../assets/compass/sass/layout/_header.scss */
#header #header-text-wrapper #header-text {
  font-size: 50px;
  color: #edebe6;
  line-height: 1;
  margin-bottom: 5px;
}
/* line 40, ../../assets/compass/sass/layout/_header.scss */
#header #header-text-wrapper #header-sub-text {
  font-size: 30px;
  color: #edebe6;
  line-height: 1;
  margin: 0;
}
/* line 48, ../../assets/compass/sass/layout/_header.scss */
#header #subscribe-box {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 40%;
  max-width: 300px;
  border-radius: 5px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}
/* line 58, ../../assets/compass/sass/layout/_header.scss */
#header #subscribe-box .form-group {
  padding: 0 30px;
}
/* line 61, ../../assets/compass/sass/layout/_header.scss */
#header #subscribe-box #sub-header {
  max-width: 80%;
  margin: auto;
  color: #3a2f27;
  font-size: 30px;
  text-align: center;
  padding-bottom: 10px;
  line-height: 1em;
  padding-top: 10px;
}
/* line 71, ../../assets/compass/sass/layout/_header.scss */
#header #subscribe-box #sub-text {
  max-width: 50%;
  margin: auto;
  color: #3a2f27;
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
}
/* line 80, ../../assets/compass/sass/layout/_header.scss */
#header #subscribe-box button {
  width: 50%;
  padding: 10px;
  background-color: #196D46;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: center;
}
/* line 92, ../../assets/compass/sass/layout/_header.scss */
#header #subscribe-box #or-button {
  text-align: center;
  font-size: 20px;
}

/* line 100, ../../assets/compass/sass/layout/_header.scss */
.container-header-text {
  font-size: 12px;
}

/* line 104, ../../assets/compass/sass/layout/_header.scss */
#nav {
  overflow: hidden;
  padding: 10px 0;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  min-width: 320px;
  color: #edebe6;
  font-size: 16px;
  text-transform: lowercase;
  background-color: #3a2f27;
  z-index: 1000;
  border-bottom: 1px solid #a08855;
}
/* line 120, ../../assets/compass/sass/layout/_header.scss */
#nav #logo {
  float: left;
  height: 0;
  width: 105px;
  padding-top: 65px;
  overflow: hidden;
  background: url(/images/dc_roasters_105x65_lt.png) no-repeat;
}
/* line 129, ../../assets/compass/sass/layout/_header.scss */
#nav #right-wrapper {
  float: right;
}
/* line 132, ../../assets/compass/sass/layout/_header.scss */
#nav #right-wrapper #nav-log-in, #nav #right-wrapper #nav-subscribe {
  display: inline;
}
/* line 134, ../../assets/compass/sass/layout/_header.scss */
#nav #right-wrapper #nav-log-in a, #nav #right-wrapper #nav-subscribe a {
  display: inline-block;
  padding: 0 10px;
  line-height: 65px;
  color: #fff;
}
/* line 140, ../../assets/compass/sass/layout/_header.scss */
#nav #right-wrapper #nav-log-in .btn, #nav #right-wrapper #nav-subscribe .btn {
  line-height: 35px;
  margin-left: 10px;
  padding: 0 20px;
  text-transform: none;
}

/* line 151, ../../assets/compass/sass/layout/_header.scss */
#signup-wrapper {
  background: #3a2f27;
  border-bottom: 1px solid #a08855;
}
/* line 155, ../../assets/compass/sass/layout/_header.scss */
#signup-wrapper ul {
  margin: 5px 30px;
  padding: 0;
  overflow: hidden;
  background: #493b31;
  border-radius: 10px;
}
/* line 163, ../../assets/compass/sass/layout/_header.scss */
#signup-wrapper li {
  float: left;
  width: 25%;
  list-style-type: none;
  padding: 5px;
}
/* line 170, ../../assets/compass/sass/layout/_header.scss */
#signup-wrapper a {
  color: #776050;
  font-weight: 700;
  background: url(/images/menu-steps.png) no-repeat;
  background-size: 35px, auto;
  height: 30px;
  padding: 5px 0 0 40px;
  display: block;
  overflow: hidden;
}
/* line 182, ../../assets/compass/sass/layout/_header.scss */
#signup-wrapper .active a {
  color: #fff;
  background-image: url(/images/menu-steps-active.png);
}
/* line 189, ../../assets/compass/sass/layout/_header.scss */
#signup-wrapper .welcome {
  background-position: 0 0;
}
/* line 190, ../../assets/compass/sass/layout/_header.scss */
#signup-wrapper .options {
  background-position: 0 -30px;
}
/* line 191, ../../assets/compass/sass/layout/_header.scss */
#signup-wrapper .delivery {
  background-position: 0 -60px;
}
/* line 192, ../../assets/compass/sass/layout/_header.scss */
#signup-wrapper .payment {
  background-position: 0 -90px;
}

@media (max-width: 600px) {
  /* line 200, ../../assets/compass/sass/layout/_header.scss */
  #header.loggedin #header-inner {
    height: auto;
  }
  /* line 205, ../../assets/compass/sass/layout/_header.scss */
  #header #header-inner {
    height: auto;
  }
  /* line 209, ../../assets/compass/sass/layout/_header.scss */
  #header #header-text-wrapper {
    width: auto;
    position: static;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
    text-align: center;
    margin: 30px 15px;
  }
  /* line 216, ../../assets/compass/sass/layout/_header.scss */
  #header #header-text-wrapper #header-text {
    font-size: 50px;
    color: #edebe6;
    line-height: 1;
    margin-bottom: 5px;
  }
  /* line 223, ../../assets/compass/sass/layout/_header.scss */
  #header #header-text-wrapper #header-sub-text {
    font-size: 30px;
    color: #edebe6;
    line-height: 1;
    margin: 0;
  }
  /* line 231, ../../assets/compass/sass/layout/_header.scss */
  #header #subscribe-box {
    position: static;
    width: auto;
    max-width: none;
    margin: 15px auto;
    padding: 15px;
    max-width: 300px;
  }

  /* line 242, ../../assets/compass/sass/layout/_header.scss */
  #signup-wrapper ul {
    padding: 0 15px;
  }
  /* line 245, ../../assets/compass/sass/layout/_header.scss */
  #signup-wrapper li {
    float: none;
    width: auto;
    list-style-type: none;
    padding: 5px;
    border-top: 1px dotted #776050;
  }
  /* line 252, ../../assets/compass/sass/layout/_header.scss */
  #signup-wrapper li:first-child {
    border: none;
  }
}
/* line 14, ../../assets/compass/sass/style.scss */
body {
  background-color: #edebe6;
}

/* line 17, ../../assets/compass/sass/style.scss */
.header {
  height: 100px;
  background-color: #3a2f27;
  position: relative;
}

/* line 22, ../../assets/compass/sass/style.scss */
.header img {
  width: 10%;
  margin-top: 20px;
  margin-left: 80px;
}

/* line 27, ../../assets/compass/sass/style.scss */
.page-wrapper {
  position: relative;
  color: #6d5219;
  height: 450px;
}

/* line 32, ../../assets/compass/sass/style.scss */
.page-wrapper h1 {
  color: #6d5219;
}

/* line 35, ../../assets/compass/sass/style.scss */
.footer {
  height: 250px;
  background-color: #3a2f27;
}

/* line 39, ../../assets/compass/sass/style.scss */
.cancel-btn {
  position: absolute;
  top: 8px;
  margin-left: 5px;
}

/* line 44, ../../assets/compass/sass/style.scss */
.big-footer-image {
  display: block;
  margin: auto;
}
